asttokens==2.2.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
blessed==1.20.0
certifi==2023.5.7
charset-normalizer==3.2.0
cmake==3.26.4
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
Cython==0.29.20
daqp==0.5.1
debugpy==1.6.7
decorator==5.1.1
dspar==0.0.0
ecos==2.0.12
editable-gnn==0.0.0
entrypoints==0.4
executing==1.2.0
fastgnn==0.0.0
filelock==3.12.2
fonttools==4.42.0
googledrivedownloader==0.4
gpustat==1.1
higher==0.2.1
idna==3.4
importlib-resources==6.0.1
ipdb==0.13.13
ipykernel==6.25.1
ipython==8.12.0
isodate==0.6.1
jedi==0.18.2
Jinja2==3.1.2
jmpy3==1.0.6
joblib==1.3.1
jupyter-client==7.3.4
jupyter_core==4.12.0
kiwisolver==1.4.4
lit==16.0.6
littleutils==0.2.2
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.3.0
nest-asyncio==1.5.6
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.77
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
ogb==1.3.6
osqp==0.6.3
outdated==0.2.2
packaging==23.1
pandas==2.0.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pip==23.1.2
prompt-toolkit==3.0.39
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyg-lib==0.2.0+pt20cu117
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
qdldl==0.1.7.post0
qpsolvers==3.4.0
rdflib==6.3.2
requests==2.31.0
scikit-learn==1.3.0
scipy==1.10.1
scs==3.2.3
setuptools==67.8.0
six==1.16.0
stack-data==0.6.2
sympy==1.12
threadpoolctl==3.1.0
tomli==2.0.1
torch==2.0.0
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
tornado==6.1
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
UNKNOWN==0.0.0
urllib3==2.0.3
wcwidth==0.2.6
wheel==0.38.4
yacs==0.1.8
zipp==3.16.2